.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.material-table {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  height: 65vh;
  margin-top: 5px;
}